@import "mixins_vars";

#entry-intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .bg-screen {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 105;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .bg-video {
        video {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
            z-index: 100;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    #entry-intro-content {
        position: absolute;
        z-index: 110;
        color: white;
        width: 90vw;
        margin: 0 5vw 2em 5vw;
        bottom: 0;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
            padding: 0;
            line-height: 0.9;
        }
        h1 {
            @include title-style;
            font-size: $entryHeadlineMobile;
        }
        p {
            font-family: $fontStackMain;
            font-weight: 300;
            font-size: $entryParagraphMobile;
        }
    }
}

/* START: Tablets - Portrait Mode */
@media only screen and (min-width: 420px) and (min-height: 420px) {
    #entry-intro {
        #entry-intro-content {
            width: 80vw;
            h1 {
                font-size: $entryHeadlineTabletPort;
            }
            p {
                font-size: $entryParagraphTabletPort;
            }
        }
    }
}
/* END: Tablets - Portrait Mode */


/* START: Tablets - Landscape Mode */
@media only screen and (min-width: 769px) {
    #entry-intro {
        #entry-intro-content {
            width: 80vw;
            h1 {
                font-size: $entryHeadlineTabletLand;
            }
            p {
                font-size: $entryParagraphTabletLand;
            }
        }
    }
}
/* END: Tablets - Landscape Mode */

/* START: Laptops */
@media only screen and (min-width: 1025px) {
    #entry-intro {
        #entry-intro-content {
            width: 70vw;
            h1 {
                font-size: $entryHeadlineLaptop;
            }
            p {
                font-size: $entryParagraphLaptop;
            }
        }
    }
}
/* END: Laptops */

/* START: Desktops */
@media only screen and (min-width: 1200px) {
    #entry-intro {
        #entry-intro-content {
            width: 60vw;
            h1 {
                font-size: $entryHeadlineDesktop;
            }
            p {
                font-size: $entryParagraphDesktop;
            }
        }
    }
}
/* END: Desktops */

/* START: Large Desktops */
@media only screen and (min-width: 1800px) {
    #entry-intro {
        #entry-intro-content {
            width: 50vw;
            h1 {
                font-size: $entryHeadlineLargeDesktop;
            }
            p {
                font-size: $entryParagraphLargeDesktop;
            }
        }
    }
}
/* END: Large Desktops */
