@import "mixins_vars";

.entry {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .bg-screen {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 105;
        background-color: rgba(0,0,0,.25);
    }
    .bg-video {
        video {    
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
            z-index: 100;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .entry-content {
        position: absolute;
        z-index: 110;
        color: white;
        width: 80%;
        left: 2em;
        bottom: 2em;
        h1, h2, h3, h4, h5, h6, p {
            margin: 0;
            padding: 0;
            line-height: .9;
        }
        h1 {
            @include title-style;
            font-size: 1.75rem;
        }
        p {
            font-family: $fontStackMain;
            font-weight: 300;
            font-size: 1rem;
        }
    }
}