/* START: Variables - Fonts */
$fontStackLogo: 'urw-din';
$fontStackTitle: 'futura-pt-bold';
$fontStackMain: 'halyard-display';
/* END: Variables - Fonts */

/* START: Variables - Text Size */
$navFontSizeMobile: 1.25rem;

$navLogoSizeTablet: 2.25rem;
$navFontSizeTablet: .8rem;
$navImgSocialTablet: 1.25rem;

$navLogoSizeLaptop: 2.25rem;
$navFontSizeLaptop: 1rem;
$navImgSocialLaptop: 1.5rem;

$navLogoSizeDesktop: 2.5rem;
$navFontSizeDesktop: 1.25rem;
$navImgSocialDesktop: 2rem;

$navLogoSizeLargeDesktop: 3rem;
$navFontSizeLargeDesktop: 2rem;
$navImgSocialLargeDesktop: 2.5rem;
/* END: Variables - Text Size */

/* START: Variables - Text Color */

/* END: Variables - Text Color */


/* START: Mix-ins */
@mixin title-style {
    font-family: $fontStackTitle;
    text-transform: uppercase;
    letter-spacing: -0.03em;    
}
/* END: Mix-ins */