/* START: Variables - Fonts */
$fontStackLogo: 'urw-din';
$fontStackTitle: 'urw-din';
/*$fontStackTitle: 'futura-pt-bold';*/
$fontStackMain: 'halyard-display';
$fontStackCode: 'monotalic';
/* END: Variables - Fonts */

/* START: Variables - Text Size */
$entryHeadlineMobile: 1.75rem;
$entryParagraphMobile: 1rem;
$entryWidthMobile: 90vw;
$entrySmallerMobile: .9rem;
$navLogoSizeMobile: 1.5rem;
$navFontSizeMobile: 1.25rem;
$navImgSocialMobile: 1.75rem;
$h1Mobile: 1.75rem;
$h2Mobile: 1.6rem;
$h3Mobile: 1.5rem;
$h4Mobile: 1.25rem;
$h5Mobile: 1.1rem;
$h6Mobile: 1rem;
$pMobile: 1rem;

$entryHeadlineTabletPort: 2rem;
$entryParagraphTabletPort: 1.25rem;
$navLogoSizeTabletPort: 2rem;
$navFontSizeTabletPort: .8rem;
$navImgSocialTabletPort: 1.1rem;

$entryHeadlineTabletLand: 2rem;
$entryParagraphTabletLand: 1.25rem;
$navLogoSizeTabletLand: 2.25rem;
$navFontSizeTabletLand: .8rem;
$navImgSocialTabletLand: 1.25rem;

$entryHeadlineLaptop: 2.25rem;
$entryParagraphLaptop: 1.5rem;
$navLogoSizeLaptop: 2.25rem;
$navFontSizeLaptop: 1rem;
$navImgSocialLaptop: 1.5rem;

$entryHeadlineDesktop: 2.5rem;
$entryParagraphDesktop: 2rem;
$navLogoSizeDesktop: 2.5rem;
$navFontSizeDesktop: 1.25rem;
$navImgSocialDesktop: 2rem;

$entryHeadlineLargeDesktop: 3rem;
$entryParagraphLargeDesktop: 2rem;
$navLogoSizeLargeDesktop: 3rem;
$navFontSizeLargeDesktop: 1.5rem;
$navImgSocialLargeDesktop: 2rem;
/* END: Variables - Text Size */

/* START: Variables - Text Color */
$siteBgColor: #000000;
$siteFontColor: #FFFFFF;
/* END: Variables - Text Color */


/* START: Mix-ins */
@mixin title-style {
    font-family: $fontStackTitle;
    font-weight: 600;
    letter-spacing: -0.03em;    
}
/* END: Mix-ins */