@keyframes nav-top-on {
    0% { left: -100vw; }
    100% { left: 0vw; }
}

@keyframes nav-top-off {
    0% { left: 0vw; }
    100% { left: -100vw; }
}

@keyframes nav-screen-on {
    0% { 
        visibility: hidden;
        opacity: 0;
    }
    100% { 
        visibility: visible;
        opacity: 1;
    }
}

@keyframes nav-screen-off {
    0% { 
        visibility: visible;
        opacity: 1;
    }
    100% { 
        visibility: hidden;
        opacity: 0;
    }
}

#nav-top {
    position: fixed;
    z-index: 205;
    background-color: black;
    width: 80vw;
    height: 100vh;
    top: 0;
    left: -100vw;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        margin: 2em 0 0 10%;
        li {
            @include title-style;
            color: white;
            font-size: 4rem;
            text-align: left;
            width: 80%;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
    ul.nav-social {
        li {
            width: initial;
            margin: .25em 1em .25em 0;
            img {
                height: auto;
                width: 6rem;
            }
        }
    }
}

#nav-icon {
    position: fixed;
    z-index: 203;
    top: 4em;
    left: 4em;
    img {
        width: 3em;
        height: auto;
    }
}

#nav-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 204;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}