@import "mixins_vars";
@import "animations";

html,
body {
    font-size: 100%;
    background-color: $siteBgColor;
    color: $siteFontColor;
    font-family: $fontStackMain;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.pullquote {
    @include title-style;
}

h1 {
    font-size: $h1Mobile;
}

h2 {
    font-size: $h2Mobile;
}

h3 {
    font-size: $h3Mobile;
}

h4 {
    font-size: $h4Mobile;
}

h5 {
    font-size: $h5Mobile;
}

h6 {
    font-size: $h6Mobile;
}

p {
    font-size: $pMobile;
}

.container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: 100;
}

header {
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 3em;
    background-color: rgba(0, 0, 0, 0);
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#container-header {
    #nav-top {
        position: fixed;
        z-index: 205;
        background-color: black;
        width: 80vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        ul {
            display: flex;
            flex-flow: row wrap;
            padding: 0;
            margin: 2em 0 0 10%;
            list-style-type: none;
            li {
                @include title-style;
                color: $siteFontColor;
                text-align: left;
                a {
                    color: $siteFontColor;
                    text-decoration: none;
                }
            }
        }
        ul.nav-text {
            li {
                width: 80%;
                font-size: $navFontSizeMobile;
                margin: 0.5em 0;
            }
        }
        ul.nav-social {
            li {
                width: initial;
                margin: 1em 1em 1em 0;
                img {
                    height: auto;
                    width: $navImgSocialMobile;
                }
            }
        }
    }

    #nav-icon {
        position: fixed;
        z-index: 203;
        top: 0.75rem;
        left: 1rem;
        img {
            width: 1rem;
            height: auto;
        }
    }

    #nav-screen {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 204;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }

    #logo {
        z-index: 200;
        position: fixed;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        text-transform: none;
        h1 {
            font-family: $fontStackLogo;
            font-weight: 400;
            color: $siteFontColor;
            font-size: $navLogoSizeMobile;
            text-transform: lowercase;
            margin: 0;
            padding: 0;
            line-height: 1;
            $logoSpacing: 0.25em;
            letter-spacing: $logoSpacing;
            padding-left: ($logoSpacing / 2);
        }
    }
}

footer {
    width: 90vw;
    margin: 0 5vw 2em 5vw;
    #copyright {
        font-size: $navFontSizeMobile;
        text-align: center;
        color: $siteFontColor;
    }
}

#nav-footer {
    font-size: $navFontSizeMobile;
    margin: 1em auto;
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        li {
            @include title-style;
            color: $siteFontColor;
            font-size: $navFontSizeMobile;
            display: inline-block;
            margin: 0.5em;
            a {
                color: $siteFontColor;
                text-decoration: none;
            }
        }
    }
    ul.nav-social {
        li {
            width: initial;
            margin: 1em;
            img {
                height: auto;
                width: $navImgSocialMobile;
            }
        }
    }
}

.pullquote {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 0.8;
    width: 80%;
    margin: 1em auto;
    padding: 1em 0;
    position: relative;
    &:after,
    &:before {
        position: absolute;
        font-size: 6rem;
        font-weight: 600;
    }
    &:before {
        content: "“";
        top: -0.25em;
        left: -10%;
    }
    &:after {
        content: "”";
        bottom: -0.5em;
        right: -10%;
    }
}

blockquote {
    border-left: 3px dashed $siteFontColor;
    font-weight: 600;
    padding: 0 0 0 1em;
    font-size: $entrySmallerMobile;
}

code {
    font-family: $fontStackCode;
    word-break: break-word;
    display: block;
    padding: 0.75em;
    font-size: $entrySmallerMobile;
    margin: 0.75em 0;
    background-color: #{$siteFontColor}3f;
}

.entry-img-sm {
    width: 50%;
}

.entry-img-med {
    width: 75%;
}

.entry-img-lg {
    width: 100%;
}

figure.entry-img {
    margin: 1em auto;
    img {
        width: 100%;
        height: auto;
    }
    figcaption {
        font-size: $entrySmallerMobile;
        padding: 0.5em 0.25em;
    }
}

.entry-img-full {
    width: 100vw;
    position: relative;
    left: ((100vw - $entryWidthMobile) / -2);
    figcaption {
        width: $entryWidthMobile;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 421px) and (min-height: 421px) {
    header {
        height: initial;
        width: 100vw;
        top: 0;
    }

    #container-header {
        margin: 2vh ((100vw - $entryWidthTabletPort) / 2);
        #nav-screen {
            display: none;
        }

        #nav-icon {
            display: none;
        }

        #nav-top {
            top: 0;
            left: 0;
            height: initial;
            background-color: transparent;
            animation-name: none !important;
            position: relative;
            ul {
                display: block;
                margin: 0.75em auto;
                text-align: left;
                li {
                    display: inline-block;
                    width: auto;
                }
            }
            ul.nav-text {
                li {
                    font-size: $navFontSizeTabletPort;
                    width: auto;
                    margin: 0 1.25em 0 0;
                }
            }
            ul.nav-social {
                margin: 0 auto;
                li {
                    font-size: $navImgSocialTabletPort;
                    line-height: 1;
                    margin: 0.25em 1.1em 0.25em 0;
                    img {
                        width: $navImgSocialTabletPort;
                    }
                }
            }
        }
        #logo {
            position: relative;
            left: 0;
            top: 0;
            transform: none;
            margin: 0 0 1em 0;
            h1 {
                font-size: $navLogoSizeTabletPort;
            }
        }
    }

    footer {
        #copyright {
            font-size: $navFontSizeTabletPort;
        }
    }
    #nav-footer {
        font-size: $navFontSizeTabletPort;
        ul {
            margin: 0.5em 0;
            li {
                font-size: $navFontSizeTabletPort;
            }
        }
        ul.nav-social {
            li {
                margin: 0.5em 1em;
                img {
                    width: $navImgSocialTabletPort;
                }
            }
        }
    }

    .pullquote {
        font-size: 1.75rem;
        &:after,
        &:before {
            font-size: 6rem;
        }
    }

    blockquote {
        font-size: $entrySmallerTabletPort;
    }

    code {
        font-size: $entrySmallerTabletPort;
    }

    figure.entry-img {
        figcaption {
            font-size: $entrySmallerTabletPort;
        }
    }

    h1 {
        font-size: $h1TabletPort;
    }

    h2 {
        font-size: $h2TabletPort;
    }

    h3 {
        font-size: $h3TabletPort;
    }

    h4 {
        font-size: $h4TabletPort;
    }

    h5 {
        font-size: $h5TabletPort;
    }

    h6 {
        font-size: $h6TabletPort;
    }

    p {
        font-size: $pTabletPort;
    }

    .entry-img-full {
        left: ((100vw - $entryWidthTabletPort) / -2);
        figcaption {
            width: $entryWidthTabletPort;
        }
    }

}

@media only screen and (min-width: 769px) {
    #container-header {
        margin: 2vh ((100vw - $entryWidthTabletLand) / 2);
        #logo {
            margin: 0 0 0.5em 0;
            h1 {
                font-size: $navLogoSizeTabletLand;
            }
        }
        #nav-top {
            ul {
                margin: 0.5em auto;
            }
            ul.nav-text {
                li {
                    margin: 0 1em 0 0;
                    font-size: $navFontSizeTabletLand;
                }
            }
            ul.nav-social {
                li {
                    margin: 0 1em 0 0;
                    img {
                        width: $navImgSocialTabletLand;
                    }
                }
            }
        }
    }
    footer {
        #copyright {
            font-size: $navFontSizeTabletLand;
        }
    }
    #nav-footer {
        font-size: $navFontSizeTabletLand;
        ul {
            margin: 0.25em 0;
            li {
                font-size: $navFontSizeTabletLand;
            }
        }
        ul.nav-social {
            li {
                margin: 0.25em 0.5em;
                img {
                    width: $navImgSocialTabletLand;
                }
            }
        }
    }

    .pullquote {
        font-size: 1.75rem;
        &:after,
        &:before {
            font-size: 6rem;
        }
    }

    blockquote {
        font-size: $entrySmallerTabletLand;
    }

    code {
        font-size: $entrySmallerTabletLand;
    }

    figure.entry-img {
        figcaption {
            font-size: $entrySmallerTabletLand;
        }
    }

    h1 {
        font-size: $h1TabletLand;
    }

    h2 {
        font-size: $h2TabletLand;
    }

    h3 {
        font-size: $h3TabletLand;
    }

    h4 {
        font-size: $h4TabletLand;
    }

    h5 {
        font-size: $h5TabletLand;
    }

    h6 {
        font-size: $h6TabletLand;
    }

    p {
        font-size: $pTabletLand;
    }

    .entry-img-full {
        left: ((100vw - $entryWidthTabletLand) / -2);
        figcaption {
            width: $entryWidthTabletLand;
        }
    }
}

@media only screen and (min-width: 1025px) {
    #container-header {
        #logo {
            margin: 0 0 0.5em 0;
            h1 {
                font-size: $navLogoSizeLaptop;
            }
        }
        #nav-top {
            ul {
                margin: 0.5em auto;
            }
            ul.nav-text {
                li {
                    margin: 0 1em 0 0;
                    font-size: $navFontSizeLaptop;
                }
            }
            ul.nav-social {
                li {
                    margin: 0 1em 0 0;
                    img {
                        width: $navImgSocialLaptop;
                    }
                }
            }
        }
    }
    footer {
        #copyright {
            font-size: $navFontSizeLaptop;
        }
    }
    #nav-footer {
        font-size: $navFontSizeLaptop;
        ul {
            margin: 0.25em 0;
            li {
                font-size: $navFontSizeLaptop;
            }
        }
        ul.nav-social {
            li {
                margin: 0.25em 0.5em;
                img {
                    width: $navImgSocialLaptop;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #container-header {
        #logo {
            h1 {
                font-size: $navLogoSizeDesktop;
            }
        }
        #nav-top {
            ul.nav-text {
                li {
                    font-size: $navFontSizeDesktop;
                }
            }
            ul.nav-social {
                li {
                    img {
                        width: $navImgSocialDesktop;
                    }
                }
            }
        }
    }
    footer {
        #copyright {
            font-size: $navFontSizeDesktop;
        }
    }
    #nav-footer {
        font-size: $navFontSizeDesktop;
        ul {
            li {
                font-size: $navFontSizeDesktop;
            }
        }
        ul.nav-social {
            li {
                img {
                    width: $navImgSocialDesktop;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    #container-header {
        #logo {
            h1 {
                font-size: $navLogoSizeLargeDesktop;
            }
        }
        #nav-top {
            ul.nav-text {
                li {
                    font-size: $navFontSizeLargeDesktop;
                }
            }
            ul.nav-social {
                li {
                    img {
                        width: $navImgSocialLargeDesktop;
                    }
                }
            }
        }
    }
    footer {
        #copyright {
            font-size: $navFontSizeLargeDesktop;
        }
    }
    #nav-footer {
        font-size: $navFontSizeLargeDesktop;
        ul {
            li {
                font-size: $navFontSizeLargeDesktop;
            }
        }
        ul.nav-social {
            li {
                img {
                    width: $navImgSocialLargeDesktop;
                }
            }
        }
    }
}
