@import "mixins_vars";

html, body {
    font-size: 100%;
    background-color: black;
    font-family: $fontStackMain;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: 100;
}